<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FantaSport</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../../../css/style.css" />
    <link rel="stylesheet" href="../../../css/card.css" />
    <link rel="stylesheet" href="../../../css/createTeam.css" />
    <style></style>
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar" class="">
        <!-- <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div> -->
        <div class="p-4">
          <h1><a href="index.html" class="logo">FantaSport</a></h1>
          <ul class="list-unstyled components mb-5">
            <li>
              <a href="/stages"><span class="fa fa-home mr-3"></span> Home</a>
            </li>
            <li>
              <a href="/leagues"
                ><span class="fa fa-user mr-3"></span> League</a
              >
            </li>
            <li>
              <a href="/teams"
                ><span class="fa fa-briefcase mr-3"></span> History</a
              >
            </li>
            <li>
              <a href="/upcoming"
                ><span class="fa fa-sticky-note mr-3"></span> Upcoming</a
              >
            </li>
            <!-- <li>
              <a href="/user"
                ><span class="fa fa-paper-plane mr-3"></span> Profile</a
              >
            </li> -->
          </ul>

          <div class="mb-5">
            <!-- <h3 class="h6 mb-3">Subscribe for newsletter</h3>
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <div class="icon"><span class="icon-paper-plane"></span></div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Email Address"
                />
              </div>
            </form> -->
          </div>
        </div>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Details: India vs New Zealand 1st T20</h2>
        <!-- <h2 class="mb-2">Points: 420</h2> -->
        <div class="playerCount">
          <div>BAT: <span id="batCount" class="numberCount">0</span></div>
          <div>BOWL: <span id="ballCount" class="numberCount">0</span></div>
          <div>ALL: <span id="allCount" class="numberCount">0</span></div>
          <div>WK: <span id="wkCount" class="numberCount">0</span></div>
        </div>
        <div class="team-name-div">Team 1</div>

        <!-- <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p> -->
        <div class="main">
          <ul class="cards" id="team1"></ul>
        </div>
        <!-- Here team 2 -->
        <div class="team-name-div">Team 2</div>

        <!-- <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p> -->
        <div class="main">
          <ul class="cards" id="team2"></ul>
        </div>
        <div class="playerCount">
          <button class="btnSubmit" onclick="submitTeam()">Submit</button>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Button to trigger modal -->
      <a
        href="#myModal"
        class="btn btn-primary"
        data-toggle="modal"
        id="modalAnchor"
        >Launch modal</a
      >

      <!-- Modal -->
      <div
        class="modal fade"
        id="myModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <!-- <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-hidden="true"
                  >
                    x
                  </button> -->
              <h4 class="modal-title">Warning!!</h4>
            </div>
            <div class="modal-body">Your team format is not valid.</div>
            <!-- <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
                  >
                    Close
                  </button> -->
            <!-- <button type="button" class="btn btn-primary">
                    Save changes
                  </button>
                </div> -->
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>

    <script src="../../../js/jquery.min.js"></script>
    <script src="../../../js/popper.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
    <script src="../../../js/main.js"></script>
    <script>

      let team1 = <%- JSON.stringify(teamDetails.team1Data.squad) %>;
      let team2 = <%- JSON.stringify(teamDetails.team2Data.squad) %>;
      let fixtureId = <%- JSON.stringify(teamDetails.fixtureId) %>
      let leagueCode = <%- JSON.stringify(teamDetails.leagueCode) %>

      console.log('The team 1 is: ',team1);
      let team1Div = document.getElementById("team1");
      team1Div.innerHTML = "";
      let team2Div = document.getElementById("team2");
      team1.forEach((player) => {
        team1Div.innerHTML +=
          // console.log(player);
          '<div class="wrapper1" style="margin: 10px">' +
          '<div class="top-icons">' +
          '<i class="fas fa-long-arrow-alt-left"></i>' +
          "</div>" +
          '<div class="profile">' +
          '<img src="' +
          player.image_path +
          '" class="thumbnail"/>' +
          '<h3 class="name">' +
          player.fullname +
          "</h3>" +
          '<p class="title">' +
          player.position.name +
          "</p>" +
          '<p class="description">' +
          `${player.battingstyle ? player.battingstyle : "-"},${
            player.bowlingstyle ? player.bowlingstyle : "-"
          }` +
          "</p>" +
          '<button type="button" id = ' +
          player.id +
          ' class="btn" onClick = "playerSelection(' +
          player.id +
          "," +
          1 +
          ')"">Select</button>' +
          "</div>" +
          "</div>";
      });

      team2.forEach((player) => {
        team2Div.innerHTML +=
          // console.log(player);
          '<div class="wrapper1" style="margin: 10px">' +
          '<div class="top-icons">' +
          '<i class="fas fa-long-arrow-alt-left"></i>' +
          "</div>" +
          '<div class="profile">' +
          '<img src="' +
          player.image_path +
          '" class="thumbnail"/>' +
          '<h3 class="name">' +
          player.fullname +
          "</h3>" +
          '<p class="title">' +
          player.position.name +
          "</p>" +
          '<p class="description">' +
          `${player.battingstyle ? player.battingstyle : "-"},${
            player.bowlingstyle ? player.bowlingstyle : "-"
          }` +
          "</p>" +
          '<button type="button" class="btn" id = ' +
          player.id +
          ' onClick = "playerSelection(' +
          player.id +
          "," +
          2 +
          ')"">Select</button>' +
          "</div>" +
          "</div>";
      });

      let playersSelected = [];
      let batCount = 0;
      let ballCount = 0;
      let allRounder = 0;
      let wkCount = 0;
      let team1count = 0;
      let team2count = 0;

      function playerSelection(id, teamId) {
        console.log("Team: ", id, teamId);
        if (!playersSelected.includes(id)) {
          if(teamId == 1) team1count++;
          if(teamId == 2) team2count++;
          console.log("Adding");
          playersSelected.push(id);
          let player = getPlayerDetails(id);
          console.log(player);
          if (player.position.name == "Batsman") {
            batCount++;
          } else if (player.position.name == "Bowler") {
            ballCount++;
          } else if (player.position.name == "Wicketkeeper") {
            wkCount++;
          } else {
            allRounder++;
          }
          document.getElementById(id).innerHTML = "UnSelect";
          document.getElementById(id).style.background = "red";
        } else {
          if(teamId == 1) team1count--;
          if(teamId == 2) team2count--;
          let indexOf = playersSelected.indexOf(id);
          console.log("Removing: ", indexOf);
          playersSelected.splice(indexOf, 1);
          console.log("Array: ", playersSelected);
          let player = getPlayerDetails(id);
          if (player.position.name == "Batsman") {
            batCount--;
          } else if (player.position.name == "Bowler") {
            ballCount--;
          } else if (player.position.name == "Wicketkeeper") {
            wkCount--;
          } else {
            allRounder--;
          }

          document.getElementById(id).innerHTML = "Select";
          document.getElementById(id).style.background = "green";
        }
        document.getElementById("batCount").innerHTML = batCount;
        document.getElementById("ballCount").innerHTML = ballCount;
        document.getElementById("allCount").innerHTML = allRounder;
        document.getElementById("wkCount").innerHTML = wkCount;

        console.log(
          "Already Selected:",
          ballCount,
          batCount,
          allRounder,
          wkCount
        );
      }

      function getPlayerDetails(id) {
        let player = team1.filter((x) => x.id == id);
        console.log("details: ", player);
        if (!player.length) {
          player = team2.filter((x) => x.id == id);
        }
        return player[0];
      }

      function sufficientCondition() {

        if(team1count > 7 || team2count > 7) return false;

        if(playersSelected.length != 11) return false;

        if (allRounder < 1 || allRounder > 2) {
          return false;
        } else if (batCount < 3 || batCount > 5) {
          console.log("BROOOOOOOOOOOOOOOOOOOOOOooo");
          return false;
        } else if (ballCount < 3 || ballCount > 4) {
          return false;
        } else if (wkCount < 1 || wkCount > 2) {
          return false;
        }
        return true;
      }

      function submitTeam() {
        if (sufficientCondition()) {
          let playerData = [];
          playersSelected.map((id) => {
            playerData.push(getPlayerDetails(id));
          });

          console.log("The players are: ", JSON.stringify(playerData));

          fetch('/leagues/createTeam', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ playerData : playerData, fixtureId : fixtureId, leagueCode : leagueCode }),
          })
            .then(response => response.json())
            .then(json => {
              console.log(json);
              window.location.href = "http://localhost:8000/teams?status=true";
            })
            .catch(err => console.log('Request Failed', err));

          // Here post the team players and fixtureId, LeagueId all the required Data
        } else {
          console.log("The Team is invalid");
          let modalAnchor = document.getElementById('modalAnchor');
          modalAnchor.click();
          modalAnchor.style.display = "none";

        }
      }
          let modalAnchor = document.getElementById('modalAnchor');
          modalAnchor.style.display = "none";
    </script>
  </body>
</html>
