<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sidebar 03</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/card.css" />
    <style>
      .cards_item {
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar" class="">
        <!-- <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div> -->
        <div class="p-4">
          <h1><a href="index.html" class="logo">FantaSport</a></h1>
          <ul class="list-unstyled components mb-5">
            <li>
              <a href="/stages"><span class="fa fa-home mr-3"></span> Home</a>
            </li>
            <li>
              <a href="/leagues"
                ><span class="fa fa-user mr-3"></span> League</a
              >
            </li>
            <li class="active">
              <a href="/teams"
                ><span class="fa fa-briefcase mr-3"></span> History</a
              >
            </li>
            <li>
              <a href="/upcoming"
                ><span class="fa fa-sticky-note mr-3"></span> Upcoming</a
              >
            </li>
            <!-- <li>
              <a href="/user"
                ><span class="fa fa-paper-plane mr-3"></span> Profile</a
              >
            </li> -->
          </ul>

          <div class="mb-5">
            <!-- <h3 class="h6 mb-3">Subscribe for newsletter</h3>
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <div class="icon"><span class="icon-paper-plane"></span></div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Email Address"
                />
              </div>
            </form> -->
          </div>
        </div>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Your Teams</h2>
        <div class="main">
          <ul class="cards" id="teamDiv"></ul>
        </div>
      </div>
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <script>

      // kaunse league ke hai woh team woh bhi dikhana hai toh create Team league name bhi store karna hai
      let yourTeams = <%- JSON.stringify(teamHistory) %>;

      let teamDiv = document.getElementById("teamDiv");
      teamDiv.innerHTML = "";
      yourTeams.forEach((team) => {
        // let leagueContent = league.league_id == 3 ? "1st T20I" : "";
        let teamContent = team.fixtureDetails.round + ", " + team.fixtureDetails.starting_at.slice(0, 10)+", "+ team.leagueCode;
        let image_path = team.fixtureDetails.image_path? team.fixtureDetails.image_path : 'https://cdn.sportmonks.com/images/cricket/leagues/3/3.png';
        // let leagueCode = league.league_id ? league.league_id : league.id;
        // let stage_id =
        //   league.league_id && league.league_id == 3 ? league.id : "";
        teamDiv.innerHTML +=
          '<li class="cards_item">' +
          '<div class="card">' +
          '  <div class="card_image">' +
          '    <img src="' +
          image_path +
          '" />' +
          "  </div>" +
          '<div class="card_content">' +
          '  <h2 class="card_title">' +
          team.fixtureDetails.name + " - "+
          (team.fixtureDetails.leagueType? team.fixtureDetails.leagueType : "Private League") +
          "</h2>" +
          '  <p class="card_text">' +
          teamContent +
          "</p>" +
          '  <form action="/teams/' +
          `${team.teamId}` +
          '" method="get">' +
          '    <button class="btn card_btn">View Details</button>' +
          "  </form>" +
          "      </div>" +
          "    </div>" +
          "</li>";
      });
    </script>
  </body>
</html>
