<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sidebar 03</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/card.css" />

    <style>
      .cards_item {
        display: block;
      }
      /* .card {
        min-height: 1100px;
      } */
    </style>
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar" class="">
        <!-- <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div> -->
        <div class="p-4">
          <h1><a href="index.html" class="logo">FantaSport</a></h1>
          <ul class="list-unstyled components mb-5">
            <li class="active">
              <a href="/stages"><span class="fa fa-home mr-3"></span> Home</a>
            </li>
            <li>
              <a href="/leagues"
                ><span class="fa fa-user mr-3"></span> League</a
              >
            </li>
            <% if (userData.admin == false) { %>
            <li>
              <a href="/teams"
                ><span class="fa fa-briefcase mr-3"></span> History</a
              >
            </li>

            <li>
              <a href="/upcoming"
                ><span class="fa fa-sticky-note mr-3"></span> Upcoming</a
              >
            </li>
            <li>
              <a href="/"
                ><span class="fa fa-paper-plane mr-3"></span> Logout</a
              >
            </li>

            <!-- <li>
              <a href="/user"
                ><span class="fa fa-paper-plane mr-3"></span> Profile</a
              >
            </li> -->
            <% } else {%>
            <li>
              <a href="/upcoming"
                ><span class="fa fa-sticky-note mr-3"></span> Upcoming</a
              >
            </li>
            <li>
              <a href="/"
                ><span class="fa fa-paper-plane mr-3"></span> Logout</a
              >
            </li>
            <% } %>
          </ul>

          <div class="mb-5">
            <!-- <h3 class="h6 mb-3">Subscribe for newsletter</h3>
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <div class="icon"><span class="icon-paper-plane"></span></div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Email Address"
                />
              </div>
            </form> -->
          </div>

          <div class="footer"></div>
        </div>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Ongoing Stages</h2>
        <!-- <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p> -->
        <div class="main">
          <ul class="cards" id="leagueDiv">
            <!-- <li class="cards_item">
              <div class="card">
                <div class="card_image">
                  <img src="https://picsum.photos/500/300/?image=14" />
                </div>
                <div class="card_content">
                  <h2 class="card_title">Card Grid Layout</h2>
                  <p class="card_text">
                    Demo of pixel perfect pure CSS simple responsive card grid
                    layout
                  </p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Button to trigger modal -->
      <a
        href="#myModal"
        class="btn btn-primary"
        data-toggle="modal"
        id="modalAnchor"
        >Launch modal</a
      >

      <!-- Modal -->
      <div
        class="modal fade"
        id="myModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <!-- <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-hidden="true"
                  >
                    x
                  </button> -->
              <h4 class="modal-title">Yippie!!</h4>
            </div>
            <div class="modal-body">
              Your League has been added and now you can ask your frineds/family
              to join the League and compete using the code:
              <span style="font-weight: bold" id="modalCode">XXXX</span>
            </div>
            <!-- <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
                  >
                    Close
                  </button> -->
            <!-- <button type="button" class="btn btn-primary">
                    Save changes
                  </button>
                </div> -->
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <script>
            // let leagues = [
            //   {
            //     resource: "stages",
            //     id: 2870,
            //     league_id: 3,
            //     season_id: 857,
            //     name: "India tour of South Africa",
            //     code: "ISA",
            //     type: "league",
            //     standings: false,
            //     updated_at: "2021-09-11T13:38:50.000000Z",
            //   },
            //   {
            //     resource: "stages",
            //     id: 2870,
            //     league_id: 3,
            //     season_id: 857,
            //     name: "India tour of South Africa",
            //     code: "ISA",
            //     type: "league",
            //     standings: false,
            //     updated_at: "2021-09-11T13:38:50.000000Z",
            //   },
            //   {
            //     resource: "leagues",
            //     id: 5,
            //     season_id: 830,
            //     country_id: 98,
            //     name: "Big Bash League",
            //     code: "BBL",
            //     image_path:
            //       "https://cdn.sportmonks.com/images/cricket/leagues/5/5.png",
            //     type: "league",
            //     updated_at: "2021-07-14T19:49:33.000000Z",
            //   },
            // ];
            let urlString =
      window.location.href;
      // "https://www.example.com/login.php?a=GeeksforGeeks&b=500&c=Hello Geeks"
              let paramString = urlString.split('?')[1];
              let queryString = new URLSearchParams(paramString);
              console.log('The entries are: ',queryString.entries(),window.location.href);
              let modalAnchor = document.getElementById('modalAnchor');
              for(let pair of queryString.entries()) {
                  console.log("Key is:" + pair[0]);
                  if(pair[0] == 'code'){

                    console.log("Value is:" + pair[1]);
                    let modalCode = document.getElementById('modalCode');
                    modalCode.innerHTML = pair[1];
                    modalAnchor.click();

                  } else{
                    // console.log('heheheh');
                    // let modalAnchor = document.getElementById('modalAnchor');
                    // modalAnchor.style.display = "none";
                  }
                }
                modalAnchor.style.display = "none";
            //

            let userData = <%-JSON.stringify(userData)%>;
            console.log('The user is: ',userData);




            let leagues = <%-JSON.stringify(stageData)%>;
            console.log(leagues);

            let leagueDiv = document.getElementById("leagueDiv");
            leagueDiv.innerHTML = "";
            leagues.forEach((league) => {
              let buttonContent;
              if(userData.admin){
                buttonContent = "Create Public League";
              } else{
                buttonContent = "Create Private League";
              }
              let leagueContent =
                league.league_id == 3? "T20 Internationals" : "Australian Cricket League";
              let image_path = league.image_path
                ? league.image_path
                : "https://cdn.sportmonks.com/images/cricket/leagues/3/3.png";
              let league_id = league.league_id;
              let stage_id = league.id;
              leagueDiv.innerHTML +=
                '<li class="cards_item">' +
                '<div class="card">' +
                '  <div class="card_image">' +
                '    <img src="' +
                image_path +
                '" />' +
                "  </div>" +
                '<div class="card_content">' +
                '  <h2 class="card_title">' +
                league.name +
                "</h2>" +
                '  <p class="card_text">' + leagueContent +'</p>' +
                '  <form action="/leagues/createLeague" method="post">' +
                '    <input type="hidden" name="leagueId" value="' +
                league_id +
                '" />' +
                '    <input type="hidden" name="stageId" value="' +
                stage_id +
                '" />' +
                '    <button class="btn card_btn">'+buttonContent+'</button>' +
                "  </form>" +
                "      </div>" +
                "    </div>" +
                "</li>";
            });
    </script>
  </body>
</html>
