<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sidebar 03</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/card.css" />
    <link rel="stylesheet" href="../../css/leaderboard.css" />
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar" class="">
        <!-- <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div> -->
        <div class="p-4">
          <h1><a href="index.html" class="logo">Flash</a></h1>
          <ul class="list-unstyled components mb-5">
            <li class="active">
              <a href="/stages"><span class="fa fa-home mr-3"></span> Home</a>
            </li>
            <li>
              <a href="/leagues"
                ><span class="fa fa-user mr-3"></span> League</a
              >
            </li>
            <li>
              <a href="/teams"
                ><span class="fa fa-briefcase mr-3"></span> History</a
              >
            </li>
            <li>
              <a href="/upcoming"
                ><span class="fa fa-sticky-note mr-3"></span> Upcoming</a
              >
            </li>
            <li>
              <a href="/user"
                ><span class="fa fa-paper-plane mr-3"></span> Profile</a
              >
            </li>
          </ul>

          <div class="mb-5">
            <h3 class="h6 mb-3">Subscribe for newsletter</h3>
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <div class="icon"><span class="icon-paper-plane"></span></div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Email Address"
                />
              </div>
            </form>
          </div>

          <div class="footer">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="icon-heart" aria-hidden="true"></i> by
              <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Stages: India vs New Zealand T20 Series</h2>
        <!-- <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p> -->
        <section class="main-content">
          <div class="container">
            <!-- <h1>Top Gainers</h1> -->
            <h3>Your Rank: <span style="padding-left: 10px">3</span></h3>
            <br />
            <br />

            <div class="row">
              <div class="col-sm-4">
                <div class="leaderboard-card leaderboard-card--first">
                  <div class="leaderboard-card__top">
                    <h3 class="text-center">$1,254</h3>
                  </div>
                  <div class="leaderboard-card__body">
                    <div class="text-center">
                      <img
                        src="../../img/user1.jpg"
                        class="circle-img mb-2"
                        alt="User Img"
                      />
                      <h5 class="mb-0">Kiran Acharya</h5>
                      <p class="text-muted mb-0">@kiranacharyaa</p>
                      <hr />
                      <div
                        class="
                          d-flex
                          justify-content-between
                          align-items-center
                        "
                      >
                        <span><i class="fa fa-map-marker"></i> Bangalore</span>
                        <!-- <button class="btn btn-outline-success btn-sm">
                          Congratulate
                        </button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h4>All Users</h4>

            <table class="table">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Status</th>
                  <th>Location</th>
                  <th>Email</th>
                  <!-- <th>Congratulate</th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <img
                        src="../../img/user1.jpg"
                        class="circle-img circle-img--small mr-2"
                        alt="User Img"
                      />
                      <div class="user-info__basic">
                        <h5 class="mb-0">Kiran Acharya</h5>
                        <p class="text-muted mb-0">@kiranacharyaa</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-baseline">
                      <h4 class="mr-1">$1,253</h4>
                      <small class="text-success"
                        ><i class="fa fa-arrow-up"></i>5%</small
                      >
                    </div>
                  </td>
                  <td>Bangalore</td>
                  <td>kiran@kiranmail.com</td>
                  <!-- <td>
                    <button class="btn btn-success btn-sm">Congratulate</button>
                  </td> -->
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <img
                        src="../../img/user2.jpg"
                        class="circle-img circle-img--small mr-2"
                        alt="User Img"
                      />
                      <div class="user-info__basic">
                        <h5 class="mb-0">Sandeep Sandy</h5>
                        <p class="text-muted mb-0">@sandeep</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-baseline">
                      <h4 class="mr-1">$1,051</h4>
                      <small class="text-success"
                        ><i class="fa fa-arrow-up"></i>5%</small
                      >
                    </div>
                  </td>
                  <td>Bangalore</td>
                  <td>sandeep@sandeepmail.com</td>
                  <!-- <td>
                    <button class="btn btn-success btn-sm">Congratulate</button>
                  </td> -->
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <img
                        src="../../img/user3.jpg"
                        class="circle-img circle-img--small mr-2"
                        alt="User Img"
                      />
                      <div class="user-info__basic">
                        <h5 class="mb-0">John Doe</h5>
                        <p class="text-muted mb-0">@johndoe</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-baseline">
                      <h4 class="mr-1">$1,012</h4>
                      <small class="text-success"
                        ><i class="fa fa-arrow-up"></i>5%</small
                      >
                    </div>
                  </td>
                  <td>Bangalore</td>
                  <td>kiran@kiranmail.com</td>
                  <!-- <td>
                    <button class="btn btn-success btn-sm">Congratulate</button>
                  </td> -->
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <img
                        src="../../img/user4.jpg"
                        class="circle-img circle-img--small mr-2"
                        alt="User Img"
                      />
                      <div class="user-info__basic">
                        <h5 class="mb-0">John Noakes</h5>
                        <p class="text-muted mb-0">@johnnoakes</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-baseline">
                      <h4 class="mr-1">$986</h4>
                      <small class="text-success"
                        ><i class="fa fa-arrow-up"></i>5%</small
                      >
                    </div>
                  </td>
                  <td>Bangalore</td>
                  <td>kiran@kiranmail.com</td>
                  <!-- <td>
                    <button class="btn btn-success btn-sm">Congratulate</button>
                  </td> -->
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <img
                        src="../../img/user5.jpg"
                        class="circle-img circle-img--small mr-2"
                        alt="User Img"
                      />
                      <div class="user-info__basic">
                        <h5 class="mb-0">Tom harry</h5>
                        <p class="text-muted mb-0">@tomharry</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-baseline">
                      <h4 class="mr-1">$951</h4>
                      <small class="text-success"
                        ><i class="fa fa-arrow-up"></i>5%</small
                      >
                    </div>
                  </td>
                  <td>Bangalore</td>
                  <td>kiran@kiranmail.com</td>
                  <!-- <td>
                    <button class="btn btn-success btn-sm">Congratulate</button>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>

    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/popper.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/main.js"></script>
  </body>
</html>
