<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sidebar 03</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/card.css" />
    <style>
      .cards_item {
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar" class="">
        <!-- <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div> -->
        <div class="p-4">
          <h1><a href="index.html" class="logo">FantaSport</a></h1>
          <ul class="list-unstyled components mb-5">
            <li>
              <a href="/stages"><span class="fa fa-home mr-3"></span> Home</a>
            </li>
            <li class="active">
              <a href="/leagues"
                ><span class="fa fa-user mr-3"></span> League</a
              >
            </li>
            <li>
              <a href="/teams"
                ><span class="fa fa-briefcase mr-3"></span> History</a
              >
            </li>
            <li>
              <a href="/upcoming"
                ><span class="fa fa-sticky-note mr-3"></span> Upcoming</a
              >
            </li>
            <!-- <li>
              <a href="/user"
                ><span class="fa fa-paper-plane mr-3"></span> Profile</a
              >
            </li> -->
          </ul>

          <div class="mb-5">
            <!-- <h3 class="h6 mb-3">Subscribe for newsletter</h3>
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <div class="icon"><span class="icon-paper-plane"></span></div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Email Address"
                />
              </div>
            </form> -->
          </div>

          <div class="footer"></div>
        </div>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">
          Ongoing League:
          <span style="padding-left: 1rem"
            ><%= fixtureData[0].leagueDetails.name %>, <%= leagueCode %></span
          >
        </h2>
        <!-- <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p> -->
        <div class="main">
          <ul class="cards" id="leagueMatch">
            <li class="cards_item">
              <div class="card">
                <div class="card_image">
                  <img src="https://picsum.photos/500/300/?image=14" />
                </div>
                <div class="card_content">
                  <h2 class="card_title">Card Grid Layout</h2>
                  <p class="card_text">
                    Demo of pixel perfect pure CSS simple responsive card grid
                    layout
                  </p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li>

            <li class="cards_item">
              <div class="card">
                <div class="card_image">
                  <img src="https://picsum.photos/500/300/?image=17" />
                </div>
                <div class="card_content">
                  <h2 class="card_title">Card Grid Layout</h2>
                  <p class="card_text">
                    Demo of pixel perfect pure CSS simple responsive card grid
                    layout
                  </p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li>
            <li class="cards_item">
              <div class="card">
                <div class="card_image">
                  <img src="https://picsum.photos/500/300/?image=2" />
                </div>
                <div class="card_content">
                  <h2 class="card_title">Card Grid Layout</h2>
                  <p class="card_text">
                    Demo of pixel perfect pure CSS simple responsive card grid
                    layout
                  </p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <script>
      // kaunse league ke hai woh team woh bhi dikhana hai toh create Team league name bhi store karna hai
      // let leagueMatch = [
      //   {
      //     id: "12",
      //     name: "India Tour of Australia",
      //     resource: "fixtures",
      //     fixtureId: 31718,
      //     league_id: 3,
      //     season_id: 507,
      //     stage_id: 3071,
      //     round: "2nd T20I",
      //     localteam_id: 483,
      //     visitorteam_id: 100,
      //     starting_at: "2021-12-23T00:00:00.000000Z",
      //     type: "T20I",
      //     live: true,
      //     status: "NS",
      //     last_period: null,
      //     note: "",
      //     venue_id: 161,
      //     leagueCode: "1234",
      //   },
      //   {
      //     id: "123",
      //     name: "Big Bash League",
      //     resource: "fixtures",
      //     fixtureId: 28088,
      //     league_id: 5,
      //     season_id: 830,
      //     stage_id: 2696,
      //     round: "1st Match",
      //     localteam_id: 53,
      //     visitorteam_id: 51,
      //     starting_at: "2021-12-05T08:15:00.000000Z",
      //     type: "T20",
      //     live: false,
      //     status: "NS",
      //     last_period: null,
      //     note: "",
      //     venue_id: 6,
      //     leagueCode: "5678",
      //   },
      // ];

      let leagueMatch = <%- JSON.stringify(fixtureData) %>
      let leagueCode = <%- JSON.stringify(leagueCode) %>

      let leagueMatchDiv = document.getElementById("leagueMatch");
      leagueMatchDiv.innerHTML = "";
      leagueMatch.forEach((team) => {
        // let leagueContent = league.league_id == 3 ? "1st T20I" : "";
        let teamContent =
          team.round +
          ", " +
          team.starting_at.slice(0, 10) +
          ", " +
          leagueCode;
        let image_path = team.leagueDetails.image_path;
          // team.league_id == 5
          //   ? "https://cdn.sportmonks.com/images/cricket/leagues/5/5.png"
          //   : "https://cdn.sportmonks.com/images/cricket/leagues/3/3.png";
        // let leagueCode = league.league_id ? league.league_id : league.id;
        // let stage_id =
        //   league.league_id && league.league_id == 3 ? league.id : "";
        leagueMatchDiv.innerHTML +=
          '<li class="cards_item">' +
          '<div class="card">' +
          '  <div class="card_image">' +
          '    <img src="' +
          image_path +
          '" />' +
          "  </div>" +
          '<div class="card_content">' +
          '  <h2 class="card_title">' +
          team.leagueDetails.name +
          "</h2>" +
          '  <p class="card_text">' +
          teamContent +
          "</p>" +
          '  <form action="/leagues/createTeam/' +
          `${leagueCode + "/" + team.id}` +
          '" method="get">' +
          '    <button class="btn card_btn">Create Team</button>' +
          "  </form>" +
          "      </div>" +
          "    </div>" +
          "</li>";
      });
    </script>
  </body>
</html>
